/* base.html */
.navbar {
    background-color: #28348B;
    width: 100%;
    height: 60px;
}

.navbar-nav {
    margin-top: 15px;
    margin-left: 30px;
    padding: 5px;
}

.nav-item {
    margin-right: 3px;
    width: 150px; 
    text-align: center;
    align-items: center;
    justify-content: center;
} 

.custom-capsule {
    border-radius: 10px; 
    background-color: transparent;
    transition: background-color 0.3s;
}

.custom-capsule:hover {
    background-color: #59595a67;
}

.custom-capsule.active {
    background-color: #DEAD00;
}

.btn-transparent {
    background: transparent;
    border: none;
}

.contents {
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
}

.card {
    align-items: center;
    width: 75%;
    background-color: #fff;
    border-radius: 10px;
    padding: 4rem;
    margin: 2rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* login.html*/
.blue-card {
    background-color: rgba(34, 47, 129, 0.85);
    border-radius: 20px;
    padding: 2rem;
    width: 55%;
    height: 55%;
}

.login-container{
    margin: 0 auto;
    padding: 2rem;
}
.grey-card {
    border-radius: 15px;
    width: 75%;
    height: 75%;
}
.login-help-text{
    color: white;
    font-size: small;
    padding: 1rem;
}
.sign-in-title{
    font-weight: bold;
    padding: 8ßpx;
}


/* selectCourse.html */
.intro {
    margin-bottom: 3rem;
}

.intro h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #28348B;
}

.major-overview h2, .courses h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.course-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-card-dropdown {
    position: relative;
    width: 75%; /* Adjust width as needed */
    margin-bottom: 2rem;
}

.course-card-btn {
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.course-card-btn:hover {
    background-color: #f0f0f0;
}

.dropdown-icon {
    float: right;
}

.course-card-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.course-option {
    display: block;
    padding: 1rem;
    text-decoration: none;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s;
}

.course-option:hover {
    background-color: #f0f0f0;
}

.confirm-btn {
    display: block;
    width: 20%;
    margin-top: 20px;
    padding: 15px;
    background-color: lightgray;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

@media (max-width: 768px) {
    .confirm-btn {
        padding: 8px; /* Further reduce padding for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
        width: max-content;
    }
}
.confirm-btn:hover {
    background-color: #DEAD00;
}

.confirm-btn:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}


/* selectMajor.html */
.major-title {
    color: #28348B;
}

.majors-lst {
    align-items: center;
    width: 95%;
}

.majors {
    width: 150px;
    height: 100px;
    border-color: #02020296;
}

.majors:hover {
    background-color: #070707a0;
    color: white;
}

.first-selected {
    background-color: #28348B !important; 
    color: white !important;
}

.second-selected {
    background-color: #DEAD00 !important;
    color: white !important;
}

.majors:disabled {
    background-color: #d4d4d4;
}


#major1 {
    background-color: #28348B;
    padding: 1rem;
    margin-left: 1rem;
}

#major2 {
    background-color: #DEAD00;
    padding: 1rem;
    margin-left: 1rem;
}

.confirm-button {
    background-color: lightgray;
    align-items: center;
    padding: 1rem;
}

.confirm-button:hover {
    background-color: lightslategrey;
    color: white;
}

/* studyPlan.html  */
.row-container {
    display: flex;
    align-items: center;
}

.add-unit-btn {
    margin-left: 20px;
}

.scroll-container {
    height: 100vh;
    overflow-y: auto;
    border-radius: 1rem;
}

.units-info {
    font-size: 11px;
}

.prerequiste-btn {
    font-size: 11px;
}

.study-plan-container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
    padding: 20px; /* Add some padding for spacing */
    background-color: #ffffff; /* Set a background color */
    border-radius: 5px; /* Add rounded corners */
    margin: 1rem;
}


.unit-container {
    width: 160px; 
    height: 195px; 
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 5px;
    overflow: hidden; 
}


.filter-btn {
    border:solid 1px;
    border-radius: 5px;
    margin: 10px;
}

.filter-btn.selected {
    border-radius: 5px;
    background-color: #28348B;
    color: white;
}

.unit-card {
    border: solid 1px #333;
    border-radius: 10px;
    background-color: #343c77;
    color: #ccc;
}

.unit-card.disabled {
    color: #999;
    cursor: not-allowed;
    background-color: white;
}

.unit-card strong {
    font-size: 11px;
}

.unit-card p {
    font-size: 11px;
    margin-top: 1px;
    margin-bottom: 1px;
}


.units-container::after {
    content: "";
    display: table;
    clear: both;
}



.selected_filter{
    background-color: blue;
    color: white;
}

#prereqModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.coreunit-container {
    width: 160px; 
    height: 180px; 
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 5px;
    overflow: hidden;
    background-color: #dcad04;
    color: white;
    border-radius: 10px;
}

.unit-card {
    position: relative;
}

.btn-delete-unit {
    background-color: rgb(148, 4, 4);
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 165px; 
    left: 125px; 
    cursor: pointer;
}
