{% extends "base.html" %}
{% block content %}

<div class="container-fluid m-2">
    <div class="row">
        <div class="col-md-5 scroll-container">
            <div class="mb-md-2">
                <h4>Optional Units</h4>
            
                {% for major in majors %}
                    <button class="btn btn-sm filter-btn major-btn" onclick="filterUnits('major', '{{ major }}')">{{ major }}</button>
                {% endfor %}
                <br>

                <button class="btn btn-sm filter-btn semester-btn" onclick="filterUnits('semester', 'sem1')">Semester 1</button>
                <button class="btn btn-sm filter-btn semester-btn" onclick="filterUnits('semester', 'sem2')">Semester 2</button>
                <button class="btn btn-sm filter-btn semester-btn" onclick="filterUnits('semester', 'all')">Show All</button><br>

                <button class="btn btn-sm filter-btn level-btn" onclick="filterUnits('level', '1')">Level 1</button>
                <button class="btn btn-sm filter-btn level-btn" onclick="filterUnits('level', '2')">Level 2</button>
                <button class="btn btn-sm filter-btn level-btn" onclick="filterUnits('level', '3')">Level 3</button>
                <button class="btn btn-sm filter-btn level-btn" onclick="filterUnits('level', 'all')">Show All</button>
            </div>
            <div class="units-container row d-flex flex-wrap" ondragover="allowDrop(event)" ondrop="drop(event)"> 
                {% for s_idx, (sem, units) in enumerate(non_core_units.items()) %}
                    {% for u_idx, unit in enumerate(units) %}
                        <div class="col-md-4 mb-3"> 
                            <div class="unit-card unit-container left-side" 
                                 id="unit-{{ s_idx }}-{{ u_idx }}" 
                                 draggable="true" 
                                 ondragstart="dragStart(event)" 
                                 data-unit-name="{{ unit[0] }}" 
                                 data-unit-type="{{ 'optional' if unit[5] == 0 else 'core' }}" 
                                 data-major="{{ unit[3] }}" 
                                 data-level="{{ unit[2] }}" 
                                 data-sem1="{{ unit[6] }}" 
                                 data-sem2="{{ unit[7] }}">
                                <strong>{{ unit[0] }} - {{ unit[1] }}</strong>
                                <p>Level {{ unit[2] }}</p>
                                <p>Major: {{ unit[3] }}</p>
                                <button type="button" class="btn btn-light prerequiste-btn btn-sm" data-bs-toggle="modal" data-bs-target="#prerequisiteModalLeft-{{ s_idx }}-{{ u_idx }}">
                                    Prerequisites
                                </button>
                                <!-- Prerequisites Modal -->
                                <div class="modal fade" id="prerequisiteModalLeft-{{ s_idx }}-{{ u_idx }}" tabindex="-1" aria-labelledby="prerequisiteModalLabelLeft-{{ s_idx }}-{{ u_idx }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="prerequisiteModalLabelLeft-{{ s_idx }}-{{ u_idx }}">Prerequisite Details</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                {{ unit[4] }}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>{{ 'Optional Unit' if unit[5] == 0 else 'Core Unit' }} / 6 points</p>
                                <p>{{ 'Sem 1' if unit[6] == 'true' else '' }} {{ 'Sem 2' if unit[7] == 'true' else '' }}</p>
                                
                                

                                

                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            


                        
        </div>

                
        <div class="col-md-7 scroll-container">
            <table class="table study-plan-container">
                <thead>
                    <tr>
                        <th class="text-center" colspan="6">Study Plan</th>
                    </tr>
                </thead>
                <tbody class="units-info" id="studyPlan">
                    {% for sem_level, unit_list in units.items() %}
                    <tr>
                        <td>{{ sem_level }}</td>
                        {% for unit in unit_list %}
                            <td draggable="true" ondragstart="dragStart(event)" ondragover="allowDrop(event)" ondrop="drop(event)" class="dropzone">
                                <div class="coreunit-container">
                                    <strong>{{ unit[0] }} - {{ unit[1] }}</strong><br> <!-- Code - Title -->
                                    Level {{ unit[2] }}<br>
                                    Major: {{ unit[3] }}<br>
                                    {% if unit[4] != 'Nil.' and unit[4] != 'Nil' %}
                                        <button type="button" class="btn btn-light prerequiste-btn btn-sm" data-bs-toggle="modal" data-bs-target="#prerequisiteModal" data-prerequisite="{{ unit[4] }}">
                                            Prerequisites
                                        </button>
                                        <div class="modal fade" id="prerequisiteModal" tabindex="-1" aria-labelledby="prerequisiteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="prerequisiteModalLabel">Prerequisite Details</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Prerequisite details will be inserted here -->
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <br>
                                    {% endif %}
                                    <span>
                                        {% if unit[5] == 1 %}Core Unit{% endif %}
                                        / 6 points
                                    </span>
                                    <br>
                                    <span>
                                        {% if unit[6] == 'true' %}Sem 1{% endif %}
                                        {% if unit[6] == 'true' and unit[7] == 'true' %} / {% endif %}
                                        {% if unit[7] == 'true' %}Sem 2{% endif %}
                                    </span>
                                </div>
                            </td>
                        {% endfor %}
                        <!-- If unit_list is less than 4, fill it with empty td -->
                        {% for _ in range(4 - unit_list|length) %}
                            <td ondragover="allowDrop(event)" ondrop="drop(event)" class="dropzone"></td>
                        {% endfor %}
                        <!-- Modify the "Add Unit" button to include an ID and data attribute for the row -->
                        <td>
                            <button class="btn btn-dark add-unit-btn" data-row-id="{{ loop.index0 }}" onclick="addUnit(this)">Add Unit</button>
                        </td>
                        
                        
                        
                        

                    </tr>
                {% endfor %}
                
                </tbody>
            </table>
        </div>
    </div>
</div>


<script type="text/javascript">
    function addUnit(buttonElement) {
        // Find the row where the button is located
        var row = buttonElement.parentElement.parentElement;
        var newUnitCell = row.querySelector(".new-unit-cell");
        
        if (!newUnitCell) {
            // Calculate the insertion position of the new cell
            var insertPosition = row.cells.length - 1;
        
            // Create and add a new cell for "New Unit"
            var newCell = row.insertCell(insertPosition);  
            newCell.innerHTML = "New Unit";
            newCell.classList.add("new-unit-cell");
            
            // Create a "Remove Unit" button for the new cell
            var removeButton = document.createElement('button');
            removeButton.className = 'btn btn-danger remove-unit-btn';
            removeButton.textContent = '✖';
            removeButton.onclick = function() {
                removeUnit(this);
            };
            
            // Append the "Remove Unit" button to the new cell
            newCell.appendChild(removeButton);
        }
    }

    function removeUnit(buttonElement) {
        // Find the parent cell of the "Remove Unit" button
        var cell = buttonElement.parentElement;

        // Find the parent row of the cell
        var row = cell.parentElement;
        
        // Remove the cell (which contains "New Unit" and the "Remove Unit" button)
        row.removeChild(cell);
    }

    var prerequisiteModal = document.getElementById('prerequisiteModal');

    prerequisiteModal.addEventListener('show.bs.modal', function (event) {
        // Button that triggered the modal
        var button = event.relatedTarget;
        // Extract info from data-* attributes
        var prerequisite = button.getAttribute('data-prerequisite');
        // Update the modal's content
        var modalBody = prerequisiteModal.querySelector('.modal-body');
        modalBody.textContent = prerequisite;
    });

    var selectedMajor = 'all';
    var selectedSemester = 'all';
    var selectedLevel = 'all';
    
    function filterUnits(filterType, value) {
        document.querySelectorAll('.filter-btn.' + filterType + '-btn').forEach(btn => btn.classList.remove('selected'));
        event.target.classList.add('selected');
    
        if (filterType === 'major') {
            selectedMajor = value;
        } else if (filterType === 'semester') {
            selectedSemester = value;
        } else if (filterType === 'level') {
            selectedLevel = value;
        }
    
        var units = document.querySelectorAll('.unit-card.left-side');
        units.forEach(function(unit) {
            var majorMatch = (unit.getAttribute('data-major') === selectedMajor || selectedMajor === 'all');
            var semMatch = (selectedSemester === 'all' || unit.getAttribute('data-' + selectedSemester) === 'true');
            var levelMatch = (unit.getAttribute('data-level') === selectedLevel || selectedLevel === 'all');
        
            if (majorMatch && semMatch && levelMatch) {
                unit.parentElement.style.display = 'block'; 
            } else {
                unit.parentElement.style.display = 'none'; 
            }
        });
    }
    

   
    function dragStart(event) {
        console.log("Drag Start Triggered");
        draggedElement = event.target;
        event.dataTransfer.setData("text/plain", draggedElement.id);
        console.log("Dragging Element ID: " + draggedElement.id);
    }

    function allowDrop(event) {
        console.log("Drag Over Triggered");
        event.preventDefault();  // This is necessary to allow dropping
    }
    
    function drop(event) {
        event.preventDefault();
        event.stopPropagation();
    
        const id = event.dataTransfer.getData("text/plain");
        const draggedElement = document.getElementById(id);
        let dropTarget = event.target.closest(".dropzone"); 
    
    
        if (dropTarget.classList.contains("unit-card") || dropTarget.classList.contains("unit-group")) {
            dropTarget = dropTarget.parentNode;
        }
    
        const elementToSwap = dropTarget.querySelector(":scope > .unit-card, :scope > .unit-group");
        const isAlreadyInStudyPlan = draggedElement.closest("#studyPlan");
    
        if (elementToSwap && isAlreadyInStudyPlan) {
            const tempHolder = document.createElement("div");
            draggedElement.parentNode.insertBefore(tempHolder, draggedElement);
            dropTarget.insertBefore(draggedElement, elementToSwap);
            tempHolder.parentNode.insertBefore(elementToSwap, tempHolder);
            tempHolder.parentNode.removeChild(tempHolder);
        } else if (!isAlreadyInStudyPlan) {
            if (draggedElement.classList.contains("unit-card")) {
                const clone = draggedElement.cloneNode(true);
                clone.id = "clone_" + new Date().getTime();
                clone.setAttribute('data-original-id', draggedElement.id); // set origin ID
                

            
            // add delete button 
            const deleteButton = document.createElement('button');
            deleteButton.innerText = 'X';
            deleteButton.className = 'btn-delete-unit';
            deleteButton.onclick = function() {
                deleteUnit(clone);
            };
            clone.appendChild(deleteButton);
            
            dropTarget.appendChild(clone);
            draggedElement.draggable = false;
            draggedElement.classList.add('disabled');
            } else {
                // If it's a unit-group, we directly append it.
                dropTarget.appendChild(draggedElement);
            }
        } else {
            dropTarget.appendChild(draggedElement);
        }
    }
    
    
    function deleteUnit(unitElement) {
        // Find the corresponding left-side unit and enable it
        const originalUnitId = unitElement.getAttribute('data-original-id');
        const originalUnit = document.getElementById(originalUnitId);
        
        if (originalUnit) {
            originalUnit.draggable = true;
            originalUnit.classList.remove('disabled');
        }
    
        // Remove the unit from the study plan
        unitElement.parentNode.removeChild(unitElement);
    }
    
    
    
</script>






{% endblock %}
